.custom-bg {
    background: linear-gradient(to right, #11cb58 0%, #2575fc 100%);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color: white;
}

.form-control {
    background: rgba(255, 255, 255, 0.9);
    border: 1px solid #ccc;
}

.form-label {
    color: white;
}

.btn-custom {
    background-color: #ff7f50;
    border-color: #ff7f50;
}

.btn-custom:hover {
    background-color: #ff6347;
    border-color: #ff6347;
}

.btn-edit {
    background-color: #ffc107;
    border-color: #ffc107;
}

.btn-edit:hover {
    background-color: #e0a800;
    border-color: #e0a800;
}

.btn-delete {
    background-color: #dc3545;
    border-color: #dc3545;
}

.btn-delete:hover {
    background-color: #c82333;
    border-color: #c82333;
}

/* Menambahkan warna latar belakang selang-seling */
#produkTable tbody tr:nth-child(even) {
    background-color: rgba(255, 255, 255, 0.2);
}

#produkTable tbody tr:nth-child(odd) {
    background-color: rgba(255, 255, 255, 0.1);
}
